@model Easyfy.CHS.Models.LocalPasswordModel

<p>
    Please enter your current password and the new one below. Consider 
    doing this continuously.
</p>
<legend></legend>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="setChangePassword">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)

                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)

                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
        <br />
        <input type="submit" value="Change password" class="createButtons" />
    </fieldset>
}
