@model Easyfy.CHS.Models.ChangeForgottenPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Change password.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
         
    <fieldset class="setChangePassword">
        <legend>Forgot Password Form</legend>
                @Html.LabelFor(m => m.ResetPasswordToken)
                @Html.TextBoxFor(m => m.ResetPasswordToken)

                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)

                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)

        <input type="submit" value="Change Password" class="socialButton" />
    </fieldset>
}