@model Easyfy.CHS.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span6" id="RetrievePasswordContent">
    @if (ViewBag.PasswordResetToken != null)
    {
        <p>An email was sent that contains instructions to change your password.</p>
        <p>@ViewBag.PasswordResetToken</p>
    }
    else
    {
        using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
         
        <fieldset>
            <h4>Retrieve your password</h4>
            @Html.LabelFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            <br />
            <input type="submit" value="Forgot Password" class="socialButton" />
        </fieldset>
        }
    }
</div>
