@model Easyfy.CHS.Model.ViewModel.AffiliateSearchViewModel

@foreach (var facets in Model.FacetResults.Results) {
  <div class="facets">
    <h3>Key: @Html.Raw(facets.Key)</h3>
    @foreach (var value in facets.Value.Values) {
      <p>
        @if (Model.CheckboxFilterList.Any(m => m.Key.ToLower()==facets.Key.ToLower() && m.Value.ToLower() == value.Range.ToLower())) {
          <input type="checkbox" data-key="@facets.Key" class="affiliateCheckboxFilter" value="@value.Range" checked="checked" />
        }
        else {
          <input type="checkbox" data-key="@facets.Key" class="affiliateCheckboxFilter" value="@value.Range" />
        }
        <label>@value.Range (@value.Hits)</label>
      </p>
    }
  </div>
}

@foreach (var item in Model.AffiliateList) {
  
  string id = item.Id.Split('/')[1];
  <a class="span3 affiliateBox" href="@Url.Action("Details", new { controller = "Affiliate", id = item.FriendlyUrl })">
    <span class="affiliateHeadName">
      @Html.DisplayFor(modelItem => item.Name)
    </span>
    <p class="affiliateDescription">
      @Html.DisplayFor(modelItem => item.Description)
    </p>
    <div class="affiliateImage">
      <i class="icon-group"></i>
    </div>
    <section class="affiliateBoxFooter">
      <span>
        <strong class="affiliateCountry">
          @Html.DisplayFor(modelItem => item.Country),
        </strong>
        @Html.DisplayFor(modelItem => item.City)
      </span>
      <br />
      <span>
        @Html.DisplayFor(modelItem => item.Address)
      </span>
      <span>
        @Html.DisplayFor(modelItem => item.Postal)
      </span>
    </section>
  </a>
}